<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xyz.neblidex.android" android:installLocation="auto" android:versionName="8.0.2" android:versionCode="4">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<application android:label="NebliDex" android:theme="@android:style/Theme.DeviceDefault" android:icon="@drawable/icon" android:roundIcon="@drawable/icon"></application>
</manifest>